<div id="popup" class="z-50 fixed w-full flex justify-center inset-0 hidden">
  <div
    onclick="popuphandler(false)"
    class="w-full h-full bg-gray-900 z-0 absolute inset-0 opacity-90"
  ></div>
  <div class="mx-auto container">
    <div class="flex items-center justify-center h-full w-full">
      <div
        class="
          bg-white
          rounded-md
          shadow
          fixed
          overflow-y-auto
          sm:h-auto
          w-10/12
          md:w-8/12
          lg:w-1/2
          2xl:w-2/5
        "
      >
        <div
          class="
            bg-gray-100
            rounded-tl-md rounded-tr-md
            px-4
            md:px-8 md:py-4
            py-7
            flex
            items-center
            justify-between
          "
        >
          <p class="text-base font-semibold">
            Delete <%= dUser.userUsername %>'s Account
          </p>
          <button
            role="button"
            aria-label="close label"
            onclick="popuphandler(false)"
            class="
              focus:ring-2
              focus:ring-offset-2
              focus:ring-gray-600
              focus:outline-none
            "
          >
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21 7L7 21"
                stroke="#A1A1AA"
                stroke-width="1.75"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M7 7L21 21"
                stroke="#A1A1AA"
                stroke-width="1.75"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </button>
        </div>
        <div class="px-4 md:px-10 md:pb-4 pb-7">
          <form
            class="mt-11"
            method="post"
            action="/dashboard/user/update/username"
          >
            <div class="flex items-center space-x-9 mt-8">
              <div class="mb-6">
                <label>
                  <input
                    type="checkbox"
                    name="deleteConfirm"
                    value="example value"
                    required
                    data-config-id="05_checkbox"
                  />
                  <span class="ml-2" data-config-id="05_label"
                    >I want to delete <%= dUser.userUsername %>'s account</span
                  >
                </label>
              </div>
            </div>
            <div class="flex mt-9">
              <input
                value="Delete Account"
                type="submit"
                class="
                  self-center
                  focus:ring-2
                  focus:ring-offset-2
                  focus:ring-indigo-800
                  focus:outline-none
                  px-6
                  py-3
                  bg-indigo-700
                  hover:bg-opacity-80
                  shadow
                  rounded
                  text-sm text-white
                "
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
