<section data-config-id="background">
  <div class="py-20 bg-gray-900 radius-for-skewed">
    <div class="container mx-auto px-4 mb-36">
      <div class="text-center">
        <span
          class="mb-6 text-4xl text-green-600 font-bold"
          data-config-id="caption"
          >Whoops!</span
        >
        <h3 class="mb-2 text-white text-4xl font-bold" data-config-id="header">
          Something went wrong!
        </h3>
        <p class="mb-8 text-gray-500" data-config-id="desc">
          Sorry, but you don't have access to view this page!
        </p>
        <div>
          <a
            class="
              w-full
              lg:w-auto
              mb-2
              lg:mb-0 lg:mr-4
              inline-block
              py-2
              px-6
              rounded-l-xl rounded-t-xl
              font-bold
              leading-loose
              text-white
              bg-green-600
              hover:bg-green-700
            "
            href="/"
            data-config-id="primary-action"
            >Go back to Homepage</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") %>
