<div class="bg-gray-800">
  <div class="py-8 px-6">
    <div class="container px-4 mx-auto">
      <h2 class="text-2xl font-bold text-white" data-config-id="10_header">Welcome, <%= user.userUsername %> &#x1F44B;</h2>
    </div>
  </div>
  
<section class="py-8">
  <div class="container px-4 mx-auto">
    <div class="pt-16 px-16 text-center bg-purple-500 rounded">
      <h3 class="mb-2 text-4xl font-medium text-red-300">
        <span class="text-white" data-config-id="header-p1">Work</span>
        <span data-config-id="header-p2">In Progress</span>
      </h3>
      <p class="text-sm text-blue-100" data-config-id="desc">The OFL Management System is currently under construction. Stay tuned for the release!</p>
      <img class="mt-52 md:max-w-md mx-auto" src="https://cdni.iconscout.com/illustration/premium/thumb/work-in-progress-4224357-3518823.png" alt="" data-config-id="image2">
    </div>
  </div>
</section>
</div>

<hr>
    <section>
      <div class="py-32 bg-gray-900 radius-for-skewed" style=>
        <div class="max-w-md mx-auto text-center">
          <a class="inline-block mb-6 mx-auto text-white text-3xl font-bold leading-none" href="#">
            <img class="h-12" src="https://i.imgur.com/xT3gRav.png" alt="" width="auto" height="auto" style="max-width: 100%">
          </a>
          <p class="mb-6 text-sm font-semibold text-gray-400">© 2021. All rights reserved.</p>
          <div class="flex space-x-2 lg:space-x-4 justify-center">
            <a href="#">
                <svg
                class="text-gray-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8 3C9.10457 3 10 3.89543 10 5V8H16C17.1046 8 18 8.89543 18 10C18 11.1046 17.1046 12 16 12H10V14C10 15.6569 11.3431 17 13 17H16C17.1046 17 18 17.8954 18 19C18 20.1046 17.1046 21 16 21H13C9.13401 21 6 17.866 6 14V5C6 3.89543 6.89543 3 8 3Z"
                  fill="currentColor"
                />
              </svg>
            </a>
            <a href="#">
                <svg
                class="text-gray-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7ZM9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12Z"
                  fill="currentColor"
                />
                <path
                  d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"
                  fill="currentColor"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5 1C2.79086 1 1 2.79086 1 5V19C1 21.2091 2.79086 23 5 23H19C21.2091 23 23 21.2091 23 19V5C23 2.79086 21.2091 1 19 1H5ZM19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z"
                  fill="currentColor"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>