<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <title>UFLMS</title>
    </head>
    <body>
        <div>
            <%- include("partials/wipnotice") %>
        </div>
        <div>
            <%- body %>
            <script src="/js/mainJS.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
            <script src="/js/charts.js"></script>
        </div>
        
    </body>
</html>